{% extends "base.html" %} {% load static %} {% block body %}
<main>
  <!-- <div class="hero-section"></div> -->

  <div class="swiper mySwiper hero-section">
    <div class="swiper-wrapper hero-section">
      <div class="swiper-slide">
        <img src="{% static 'images/insulin.jpeg' %}" alt="" srcset="" />
      </div>
      <div class="swiper-slide hero-section">
        <img src="{% static 'images/hero-pic2.jpeg' %}" alt="" srcset="" />
      </div>
      <div class="swiper-slide hero-section">
        <img src="{% static 'images/hero3.jpeg' %}" alt="" srcset="" />
      </div>
      <div class="swiper-slide hero-section">
        <img src="{% static 'images/hero4.jpeg' %}" alt="" srcset="" />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="panel2">
    medicine : The Leading Online Pharmacy and Healthcare Platform of
    Bangladesh.
  </div>

  <div class="shop">
    <h1>OTC MEDICINES</h1>
    <div class="shop-section" id="shop-section"></div>
    <!-- <div class="shop-section">
          <div class="box">
            <div class="box-content">
              <h2>FEVER</h2>
              <div
                class="box-img"
                style="background-image: url('fever.png')"
              ></div>
              <p>See more</p>
            </div>
          </div>
          <div class="box">
            <div class="box-content">
              <h2>HEADACHE</h2>
              <div
                class="box-img"
                style="background-image: url('headache.png')"
              ></div>
              <p>See more</p>
            </div>
          </div>
          <div class="box">
            <div class="box-content">
              <h2>DIARRHEA</h2>
              <div
                class="box-img"
                style="background-image: url('diarrhea.png')"
              ></div>
              <p>See more</p>
            </div>
          </div>
          <div class="box">
            <div class="box-content">
              <h2>ECZEMA</h2>
              <div
                class="box-img"
                style="background-image: url('eczema.png')"
              ></div>
              <p>See more</p>
            </div>
          </div>
        </div> -->
  </div>
</main>
<script type="module" src="{% static 'js/english.js' %}"></script>
{% endblock body %}
